.DS_Store
*/.DS_Store
autodj/bkps/
autodj/mp3/sandbox/
autodj/sandbox/
cloud-streamripper/creds/
cloud-streamripper/monitor/sandbox/
cloud-streamripper/monitor/sandbox/
cloud-streamripper/mp3/sandbox/
cloud-streamripper/*monitor.*
cloud-streamripper/*streamripper.*
cloud-streamripper/*.log
monitor/sandbox/
setenv*sh
*/setenv*sh
*/*/setenv*sh
*/*/*/setenv*sh
studio-rpi-icecast/sdcard/authorized_keys
studio-rpi-icecast/sdcard/id_rsa.*
studio-rpi-icecast/sdcard/wpa_supplicant.conf
studio-rpi-icecast/monitor/bkps
studio-icecast/smsnow/smsnow.creds.json
studio-icecast/smsnow/smsnow.state.json
