[Unit]
Description=Run freemem at 10 mins before every hour
Requires=freemem.service

[Timer]
Unit=freemem.timer
OnCalendar=*:5,25,45
AccuracySec=1s

[Install]
WantedBy=timers.target
