[Unit]
Description=Run freemem every 10 mins
Requires=freemem.service

[Timer]
Unit=freemem.timer
OnCalendar=*:5,15,25,35,45,55
AccuracySec=1s

[Install]
WantedBy=timers.target
