[Unit]
Description=Streamripper service for <SERVICE_NAME>
Wants=<SERVICE_NAME>.timer

[Service]
Environment="SERVICE_DIR=<SERVICE_DIR>"
Environment="SERVICE_NAME=<SERVICE_NAME>"
Environment="SERVICE_DEST_PATH=<SERVICE_DEST_PATH>"
Environment="SERVICE_PREFIX=<SERVICE_PREFIX>"
Environment="SERVICE_RADIOSTREAM=<SERVICE_RADIOSTREAM>"
Environment="MP3_DIR=<MP3_DIR>"

Environment="TWILIO_SID=<TWILIO_SID>"
Environment="TWILIO_TOKEN=<TWILIO_TOKEN>"
Environment="TWILIO_SRC=<TWILIO_SRC>"
Environment="TWILIO_DST=<TWILIO_DST>"

ExecStart=/home/<USER_NAME>/<SERVICE_NAME>.sh
WorkingDirectory=<SERVICE_DEST_PATH>

# Run as user
User=<USER_NAME>
Group=<USER_NAME>

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<SERVICE_NAME>
